body {
  background-position: center top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color:black;
  margin: 0;
  padding: 0;
}

.header {
	font-size: 40px;
	color: white;
	font-family: Caviar Dreams;
	text-align: center;
	}

.all {
	text-decoration: none;color:white;
}

.tabs {
	background-image: url('sources/images/transparent gray.png');
	padding: 10px;
	margin-right: 30px;
	display:inline;
	text-align:;
	float: left;
	font-size:30px;
	color:black;
	font-family: Caviar Dreams;
}

.tabs2 {
	background-image: url('sources/images/transparent gray.png');
	padding:10px;
	margin-right: 30px;
	display:inline;
	text-align:;
	float: left;
	font-size:30px;
	color:white;
	font-family: Caviar Dreams;
}

.tabs3 {
	background-image: url('sources/images/transparent gray.png');
	padding:10px;
	margin-right: 30px;
	display:inline;
	text-align:;
	float: left;
	font-size:30px;
	color:white;
	font-family: Caviar Dreams;
}

.tabs4 {
	background-image: url('sources/images/transparent gray.png');
	padding:10px;
	margin-right: 30px;
	display:inline;
	text-align:;
	float: left;
	font-size:30px;
	color:white;
	font-family: Caviar Dreams;
}

.tabs5 {
	background-image: url('sources/images/transparent gray.png');
	padding:10px;
	margin-right: 30px;
	display:inline;
	text-align:;
	float: left;
	font-size:30px;
	color:white;
	font-family: Caviar Dreams;
}

p.none {
	text-decoration: none;
}

ul {
	padding: 5px;
    background-color:;
    display: inline-block;
}

/*These are the only fonts you can select from. Keep this at the bottem of the css file.*/
@font-face {
    font-family: "Benny Blanco"; 
    src:url('sources/fonts/Benny Blanco/BENNB.eot') format('embedded-opentype'),
	url('sources/fonts/Benny Blanco/benny_blanco.otf') format('truetype');
}
@font-face {
	font-family: "Advent Psychosis";
	src:url('sources/fonts/Advent Psychosis/Advent_Psychosis.eot') format('embedded-opentype'),
	url('sources/fonts/Advent Psychosis/Advent_Psychosis.ttf') format('truetype');
}
@font-face {
	font-family: "Caviar Dreams";
	src:url('sources/fonts/Caviar Dreams/CaviarDreams.eot') format('embedded-opentype'),
	url('sources/fonts/Caviar Dreams/CaviarDreams.ttf') format('truetype');
}
